{% extends 'base.html' %}

{% block title %}Photo Index{% endblock %}


{% block heading %}

<h2 class = "heading">Photo Index</h2>
{% endblock heading%}


{% block contents %}
<br>
<div class="btn-group">
<button id="DateOrderBtn" type="button" class="btn btn-default">
   Date Taken: <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
</button>

<button id="TitleOrderBtn" type="button" class="btn btn-default">
   Photo Title: <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
</button>
</div>
<br />
{% if latest_photo_list %}

    {% for photo in latest_photo_list %}
    <div class="container-fluid">

        <div class="row">
	      <!-- Total Column width of 12 -->
		  <div id = "per-pic" class="col-xs-12 col-md-6">
              <div class = "photo_label">
                   <span class="label label-primary">{{ photo.photo_title }}</span>
                   <span class="label label-info">{{ photo.date_taken }}</span>
                </div>
              <a href="{% url 'photoViewer:photo_detail' photo.id %}">
                <img src="/media/{{ photo.photo_img }}" class="img-thumbnail"  width="100%" height="100%" />
              </a>

          </div>
        </div>
    </div>
    <br>
    {% endfor %}

{% else %}
<p>No Photos are available.</p>
{% endif %}

<script type="text/javascript">
    var dateOrderButton = document.getElementById("DateOrderBtn");
    var titleOrderButton = document.getElementById("TitleOrderBtn");

    var state = location.pathname.match(/\/photos\/(.*)/)[1];;

    //TODO: Add State information to Button..
    dateOrderButton.onclick = function ()
    {
        if (state == "" | state == "date_oldtonew")
        {
            state = "date_newtoold";
        }
        else
        {
            state = "date_oldtonew";
        }
        //Append Filter type as string to URL
        location.href = state;
    };

    titleOrderButton.onclick = function () {

         if (state == "" | state == "title_ztoa")
        {
            state = "title_atoz";
        }
        else
        {
            state = "title_ztoa";
        }
        //Append Filter type as string to URL
        location.href = state;
    };
 //  sortButton.addEventListener("click", redirectDateOrderBtn, false);

</script>
{% endblock %}


