{% extends 'base.html' %}
{% block content %}

<br>
<br>
<span class="label label-inverse">{{ photo.photo_title }}</span>

<span class="label label-info">{{ photo.date_taken }}</span>



<!--Putting "/" in front of "media" routes to "site.com/media/"-->
<!--instead of "site.com/photoViewer/photos<>/media"-->
<div class = "image">
    <br />
    <img src="/media/{{ photo.photo_img }}" alt="My Image Here" width="150%" height="150%"/>
</div>
<h2>Albums Association</h2>
{% if photo.album_set.all %}
<ul>
    {% for album in photo.album_set.all %}
    	<li>{{ album.album_title }}</li>
    {% endfor %}
</ul>
{% else %}
    <p>This Photo is Not in Any Album</p>
{% endif %}

{% endblock %}
