{% extends 'base.html' %}

{% block title %}Photo Index{% endblock %}

{% block contents %}

<h1>Photo Index</h1>
<br>

<button id="DateSortBtn" type="button" class="btn btn-default">
   Date Taken: <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
</button>

<br />

{% if latest_photo_list %}

    {% for photo in latest_photo_list %}
    <div class="container-fluid">

        <div class="row">
	      <!-- Total Column width of 12 -->
		  <div id = "per-pic" class="col-xs-12 col-md-6">
              <a href="{% url 'photoViewer:photo_detail' photo.id %}">
                <img src="/media/{{ photo.photo_img }}" class="img-thumbnail"  width="100%" height="100%" />
              </a>
              <li>
               <span class="label label-primary">{{ photo.photo_title }}</span>
               <span class="label label-info">{{ photo.date_taken }}</span>
              </li>
          </div>
        </div>
    </div>
    <br>
    {% endfor %}

{% else %}
<p>No Photos are available.</p>
{% endif %}

<script type="text/javascript">
    var sortButton = document.getElementById("DateSortBtn");
    sortButton.onclick = function () {
        //Append Filter type as string to URL?
        location.href = "date_asc";
    };
 //  sortButton.addEventListener("click", redirectDateSortBtn, false);

</script>
{% endblock %}


